<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCN-XUr2i42aJlNk_iVFWzF5LjnF-O5-M8</string>
	<key>GCM_SENDER_ID</key>
	<string>1034924607954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campusCollaborate</string>
	<key>PROJECT_ID</key>
	<string>campus-collaborate-47541</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-collaborate-47541.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034924607954:ios:de86becb477f9624bb200b</string>
</dict>
</plist>